@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets / base overrides (optional) */
html,
body {
  @apply font-sans;
}

.input {
  @apply w-full rounded-xl border border-slate-300 px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary text-slate-700;
}